<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ray_world.rweather">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".util.JuheApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.thinkland.juheapi.openid"
            android:value="JH530b43edb322da6317689451a2d5b168" />

        <activity
            android:name=".activity.ChooseCityActivity"
            android:label="@string/app_name"
            android:theme="@style/ChooseAreaTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WeatherActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.ManageCityActivity"
            android:label="管理城市"
            android:theme="@style/ChooseAreaTheme" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="关于"
            android:theme="@style/ChooseAreaTheme" />

        <receiver android:name=".widget.WhiteLineOneWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.REFRESH" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/white_line_one_widget_info" />
        </receiver>

        <service android:name=".service.AutoRefreshService">
            <intent-filter>
                <action android:name="com.ray_world.rweather.service.AUTO_REFRESH_SERVICE" />
            </intent-filter>
        </service>

        <receiver android:name=".service.AlarmReceiver" />

        <service android:name=".service.UpdateWidgetService">
            <intent-filter>
                <action android:name="com.ray_world.rweather.service.UPDATE_WIDGET_SERVICE" />
            </intent-filter>
        </service>

        <receiver android:name=".widget.TransLineOneWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.REFRESH_TRANS" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/trans_line_one_widget_info" />
        </receiver>
    </application>

</manifest>